@{
    ViewData["Title"] = "About Page";
}

<div class="containerPicture1">
    <img src="https://samiyavawdastorage.blob.core.windows.net/images/AboutPicture1.jpg" alt="Picture of skateboards on a rack" class="aboutPicture1" />
</div>

<h1 class="ourStoryHeading">Our story</h1>

<p class="ourStoryParagraph">
    Deck dreams celebrates the art and wonders of
    skateboarding through self-expression and all
    things fun. They don’t take things too seriously.
    Deck dreams is owned by Koby and Myra.
    Roommates in College who’d practice their
    tech deck skills in a mini replica of LA’s
    Belvedere Skatepark. After they both graduated,
    they still had a passion for skating. After
    9 months of planning and preparation,
    they decided to open up Deck Dreams. Since then,
    Deck Dreams has been a catalyst for beginner and
    pro skateboarders to shred all around Cape Town.
    Deck dreams wasn't a passionate project anymore,
    but rather their reality.
</p>

<div class="containerPicture2">
    <img src="https://samiyavawdastorage.blob.core.windows.net/images/AboutPicture2New.png" alt="Picture of Deck dreams team skating" class="aboutPicture2" />
</div>