@{
    ViewData["Title"] = "Order confirmation page";
}

<h1>Thank you for your order!</h1>
<p>Your order has been successfully placed. You will receive a confirmation email shortly.</p>

<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Return to Home Page</a>